Repository itslupus/gamersnet, pull requests merged in 2021-03, with the labels that each got.

#77 Post update backend
  gamersnet_backend/__tests__/posts/testCreatePost.js
  gamersnet_backend/__tests__/posts/testGetPostEmptyDB.js
  gamersnet_backend/__tests__/posts/testGetPosts.js
  gamersnet_backend/__tests__/posts/testPostUpdate.js
  gamersnet_backend/package-lock.json
  gamersnet_backend/package.json
  gamersnet_backend/persistence/posts.js
  gamersnet_backend/routes/posts/createPost.js
  gamersnet_backend/routes/posts/getPosts.js
  gamersnet_backend/routes/posts/index.js
  gamersnet_backend/routes/posts/updatePost.js
Labels: backend, database, high priority

#75 Delete_post backend
  gamersnet_backend/__tests__/posts/testPostDelete.js
  gamersnet_backend/persistence/posts.js
  gamersnet_backend/routes/posts/deletePost.js
  gamersnet_backend/routes/posts/index.js
Labels: backend, dev task, high priority

#86 Search posts backend
  gamersnet_backend/__tests__/posts/testGetPostsByDates.js
  gamersnet_backend/__tests__/posts/testSearchByText.js
  gamersnet_backend/persistence/posts.js
  gamersnet_backend/routes/posts/filterPosts.js
  gamersnet_backend/routes/posts/index.js
Labels: backend, database, dev task, medium priority

#88 Displaying most recent posts made
  gamersnet_backend/persistence/posts.js
  gamersnet_frontend/src/app.js
  gamersnet_frontend/src/components/button/styles.css
  gamersnet_frontend/src/components/createPost/index.js
  gamersnet_frontend/src/components/gameSearch/index.js
  gamersnet_frontend/src/components/gameSearch/styles.css
  gamersnet_frontend/src/components/header/index.js
  gamersnet_frontend/src/components/header/styles.css
  gamersnet_frontend/src/components/home/BlueBox.js
  gamersnet_frontend/src/components/home/index.js
  gamersnet_frontend/src/components/home/styles.css
Labels: dev task
